.slider {
    position: relative;
    width: 100%;
    height: 88vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: white;
    i {
        font-size: 2vw;
    }
}

.slide {
    position: relative;
    min-width: 100%;
    height: 90%;
    transition: 0.5s;
    overflow: hidden;
}

%btn-styles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80vh;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover {
        background: #5bc0de;
        cursor: pointer;
        i {
            color: whitesmoke;
        }
    }
}

#left {
    left: 0;
    @extend %btn-styles;
}

#right {
    right: 0;
    @extend %btn-styles;
}